---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ backend_manifest }}
  namespace: {{ service_namespace }}
spec:
  selector:
    matchLabels:
      app: {{ backend_manifest }}
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ backend_manifest }}
    spec:
      containers:
      - name: {{ backend_manifest }}
        image: {{ container_registry }}/{{ backend_manifest }}:{{ backend_gitresult.after }}
        imagePullPolicy: IfNotPresent
        env:
        - name: NODE_ENV
          value: {{ service_namespace }}
        - name: SERVER_PORT
          value: '8080'
        - name: DATABASE_HOSTNAME
          value: {{ postgres_hostname }}
        - name: DATABASE_PORT
          value: '{{ postgres_port }}'
        - name: DATABASE_USERNAME
          value: {{ postgres_username }}
        - name: DATABASE_DATABASE
          value: {{ backend_postgres_database }}
        - name: DATABASE_PASSWORD
          value: {{ postgres_password }}
        - name: URL_NOTIF
          value: http://notification-backend.production
        ports:
        - containerPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ frontend_manifest }}
  namespace: {{ service_namespace }}
spec:
  selector:
    matchLabels:
      app: {{ frontend_manifest }}
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ frontend_manifest }}
    spec:
      containers:
      - name: {{ frontend_manifest }}
        image: {{ container_registry }}/{{ frontend_manifest }}:{{ frontend_gitresult.after }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80