apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: container-registry
  namespace: production
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: '0m'
spec:
  rules:
  - host: {{ container_registry_hostname }}
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: container-registry
            port:
              number: 80