apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ component_name }}
  namespace: {{ component_namespace }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: '0m'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '600'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '600' 
spec:
  rules:
  - host: {{ component_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ component_name }}
            port:
              number: 80