---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: production--data-container-registry-0
  namespace: production
spec:
  storageClassName: ''
  capacity:
    storage: 4Gi
  accessModes:
  - ReadWriteOnce
  claimRef:
    name: data-container-registry-0
    namespace: production
  local:
    path: {{ storage_data_0_dir }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ inventory_hostname }}
