---
apiVersion: v1
kind: Secret
metadata:
  name: secret.container-registry.auth
  namespace: production
type: Opaque
data:
  htpasswd: {{ (htpasswd['content'] | b64decode).rstrip() | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: secret.container-registry.tls
  namespace: production
type: kubernetes.io/tls
data:
  tls.crt: |
    {{ ''.join((certs_domain_crt['content'] | b64decode).rstrip().split('\n')[1:-1]) }}
  tls.key: |
    {{ ''.join((certs_domain_key['content'] | b64decode).rstrip().split('\n')[1:-1]) }}