---
apiVersion: v1
kind: Service
metadata:
  name: {{ component_name }}
  namespace: {{ component_namespace }}
spec:
  ports:
    - port: 80
      targetPort: 5000
  selector:
    app: {{ component_name }}