apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ component_name }}
  namespace: {{ component_namespace }}
spec:
  selector:
    matchLabels:
      app: {{ component_name }}
  serviceName: {{ component_name }}
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ component_name }}
    spec:
      containers:
      - name: {{ component_name }}
        image: registry:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
        volumeMounts:
        - name: data
          mountPath: /var/lib/registry
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 4Gi