apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: container-registry
  namespace: production
spec:
  selector:
    matchLabels:
      app: container-registry
  serviceName: container-registry
  replicas: 1
  template:
    metadata:
      labels:
        app: container-registry
    spec:
      containers:
      - name: container-registry
        image: registry:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
        volumeMounts:
        - name: data
          mountPath: /var/lib/container_registry
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 4Gi