apiVersion: v1
kind: PersistentVolume
metadata:
  name: proyek3--postgres-0-data
  namespace: proyek3
spec:
  storageClassName: ''
  capacity:
    storage: 2Gi
  accessModes:
  - ReadWriteOnce
  claimRef:
    name: data-postgres-0
    namespace: proyek3
  local:
    path: {{ storage_data_0_dir }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ inventory_hostname }}
