---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ frontend_manifest }}
  namespace: {{ service_namespace }}
spec:
  rules:
  - host: {{ service_hostname }}
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: {{ frontend_manifest }}
            port:
              number: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ logbook_manifest }}
  namespace: {{ service_namespace }}
spec:
  rules:
  - host: {{ service_hostname }}
    http:
      paths:
      - pathType: Prefix
        path: /api
        backend:
          service:
            name: {{ logbook_manifest }}
            port:
              number: 80