---
apiVersion: v1
kind: Service
metadata:
  name: {{ frontend_manifest }}
  namespace: {{ service_namespace }}
spec:
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: {{ frontend_manifest }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ backend_manifest }}
  namespace: {{ service_namespace }}
spec:
  ports:
    - port: 80
      targetPort: 5001
  selector:
    app: {{ backend_manifest }}