---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ frontend_manifest }}
  namespace: {{ service_namespace }}
spec:
  rules:
  - host: {{ service_hostname }}
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: {{ frontend_manifest }}
            port:
              number: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ keycloak_proxy_manifest }}
  namespace: {{ service_namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
  - host: {{ service_hostname }}
    http:
      paths:
      - pathType: Prefix
        path: /keycloak-proxy(/|$)(.*)
        backend:
          service:
            name: {{ keycloak_proxy_manifest }}
            port:
              number: 80