---
apiVersion: v1
kind: Service
metadata:
  name: {{ backend_manifest }}
  namespace: {{ service_namespace }}
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: {{ backend_manifest }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ frontend_manifest }}
  namespace: {{ service_namespace }}
spec:
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: {{ frontend_manifest }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ keycloak_manifest }}
  namespace: {{ service_namespace }}
spec:
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: {{ keycloak_manifest }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ keycloak_proxy_manifest }}
  namespace: {{ service_namespace }}
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: {{ keycloak_proxy_manifest }}