---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_frontend_name }}
  namespace: {{ service_namespace }}
spec:
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: {{ service_frontend_name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_keycloak_proxy_name }}
  namespace: {{ service_namespace }}
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: {{ service_keycloak_proxy_name }}