---
apiVersion: v1
kind: Secret
metadata:
  name: registry-auth.secret
  namespace: proyek3
type: Opaque
data:
  htpasswd: {{ (htpasswd['content'] | b64decode).rstrip() | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: registry-certs.secret
  namespace: proyek3
type: Opaque
data:
  domain.crt: |
    {{ (certs_domain_crt['content'] | b64decode).rstrip() | b64encode }}
  domain.key: |
    {{ (certs_domain_key['content'] | b64decode).rstrip() | b64encode }}
